<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="robots" content="noindex, nofollow">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Fixed width inputs – Example – GOV.UK Design System</title>
    <link href="/stylesheets/main-5002e4b83873c0f3506b3d0e8d470f20.css" rel="stylesheet" media="all" />
    

    <!--[if lt IE 9]>
      <script src="/javascripts/head-ie8-3bdeff766c8e82bdaeaf6f5accfc18e3.js"></script>
    <![endif]-->
    <script src="/javascripts/vendor/modernizr.js"></script>
  </head>
  <body class="app-example-page">
    <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>
    <!-- Disable browser validation for any examples that include form elements -->
    <form novalidate>
      
        

<div class="govuk-form-group">
  <label class="govuk-label" for="width-20">
    20 character width
  </label>
  <input class="govuk-input govuk-input--width-20" id="width-20" name="width-20" type="text">
</div>


<div class="govuk-form-group">
  <label class="govuk-label" for="width-10">
    10 character width
  </label>
  <input class="govuk-input govuk-input--width-10" id="width-10" name="width-10" type="text">
</div>


<div class="govuk-form-group">
  <label class="govuk-label" for="width-5">
    5 character width
  </label>
  <input class="govuk-input govuk-input--width-5" id="width-5" name="width-5" type="text">
</div>


<div class="govuk-form-group">
  <label class="govuk-label" for="width-4">
    4 character width
  </label>
  <input class="govuk-input govuk-input--width-4" id="width-4" name="width-4" type="text">
</div>


<div class="govuk-form-group">
  <label class="govuk-label" for="width-3">
    3 character width
  </label>
  <input class="govuk-input govuk-input--width-3" id="width-3" name="width-3" type="text">
</div>


<div class="govuk-form-group">
  <label class="govuk-label" for="width-2">
    2 character width
  </label>
  <input class="govuk-input govuk-input--width-2" id="width-2" name="width-2" type="text">
</div>


      
    </form>
    <script src="/javascripts/vendor/iframeResizer.contentWindow.js"></script>
    <script src="/javascripts/govuk-frontend-bc538456331900cfc25b1fa92de36f7d.js"></script>
  </body>
</html>
