---
layout: layout-example.njk
title: Default – Telephone numbers
status: "In progress"
statusMessage: "This page has not been CH approved."
---

{% from "input/macro.njk" import govukInput %}

{{ govukInput({
  label: {
    text: "UK telephone number"
  },
  id: "telephone-number",
  name: "telephone-number",
  type: "tel",
  classes: "govuk-input--width-20"
}) }}