<div class="app-contact-panel">
  <h2 class="app-contact-panel__heading">Get in touch</h2>
  <p class="app-contact-panel__body">
    If you’ve got a question, idea, or suggestion share it in <a class="govuk-link app-contact-panel__link" href="https://communicatehealth.slack.com/messages/C9D6M5DBL/" data-hsupport="slack" target="_blank">#team-ux</a> on CH Slack or bring it to a <a class="govuk-link app-contact-panel__link" href="https://communicatehealth.app.box.com/notes/255783100644" target="_blank">UX team meeting</a>.</p>
</div>
