{% from "footer/macro.njk" import govukFooter %}

{{ govukFooter({
  "classes": "app-footer app-footer--full ",
  "containerClasses" : "app-width-container--full",
  "navigation": [
    {
      "title": "Design System Information",
      "columns": 1,
      "items": [
        {
          "href": "https://communicatehealth.app.box.com/notes/305880207044?s=vb2gik9x5uah4epdggbtf9p82tdr3wpd",
          "text": "CH UX Best Practices ToC on Box"
        },
        {
          "href": "https://design-system.service.gov.uk/",
          "text": "An extension of the GOV.UK Design System"
        }
      ]
    }
  ],
  "meta": {
    "items": [
      {
        "href": "/sitemap",
        "text": "Sitemap"
      }
    ]
  }
}) }}
