---
title: Warning text
layout: layout-example.njk
status: "In progress"
statusMessage: "This page has not been CH approved."
---

{% from "warning-text/macro.njk" import govukWarningText %}

{{ govukWarningText({
  text: "You can be fined up to £5,000 if you don’t register.",
  iconFallbackText: "Warning"
}) }}
