
.app-contact-panel {
  @include govuk-responsive-margin(6, "top");
  @include govuk-responsive-margin(6, "bottom");
  @include govuk-responsive-padding(3);
  background-color: govuk-colour("grey-4");
  border: 1px solid $govuk-border-colour;

  .app-contact-panel__heading {
    color: govuk-colour("light-green");
  }
}

.app-contact-panel__heading {
  @extend .govuk-heading-m;
}

.app-contact-panel__body {
  @include govuk-font(19);
  margin: 0;
}
