---
title: Panel
layout: layout-example.njk
status: "In progress"
statusMessage: "This page has not been CH approved."
---

{% from "panel/macro.njk" import govukPanel %}

{{ govukPanel({
  titleText: "Application complete",
  html: "Your reference number<br><strong>HDJ2123F</strong>"
}) }}
