---
title: Links with no visited state – Typography
layout: layout-example.njk
ignore_in_sitemap: true
status: "In progress"
statusMessage: "This page has not been CH approved."
---

<a href="#" class="govuk-link govuk-link--no-visited-state">govuk-link govuk-link--no-visited-state</a>
