---
title: Phase banner with beta text
layout: layout-example.njk
ignore_in_sitemap: true
status: "In progress"
statusMessage: "This page has not been CH approved."
---

{% from "phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
  tag: {
    text: "beta"
  },
  html: 'This is a new service – please follow up with someone on the CH UX team with any feedback.'
}) }}
