---
title: Photography – Images
layout: layout-example.njk
stylesheets:
- ../images.css
status: "In progress"
statusMessage: "This page has not been CH approved."
---


<img src="3by2.jpg" alt="An image of cyclists overlayed with a 3 by 2 grid to explain the aspect ratio of the photograph">
