---
title: Body small – Typography
layout: layout-example.njk
ignore_in_sitemap: true
status: "In progress"
statusMessage: "This page has not been CH approved."
---

<p class="govuk-body-s">govuk-body-s</p>
