---
title: Phase banner
layout: layout-example.njk
status: "In progress"
statusMessage: "This page has not been CH approved."
---

{% from "phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
  tag: {
    text: "alpha"
  },
  html: 'This is a new service – please follow up with someone on the CH UX team with any feedback.'
}) }}
