---
title: Numbered lists – Typography
layout: layout-example.njk
ignore_in_sitemap: true
status: "In progress"
statusMessage: "This page has not been CH approved."
---

<ol class="govuk-list govuk-list--number">
  <li>Delivery address.</li>
  <li>Payment.</li>
  <li>Confirmation.</li>
</ol>
