---
title: Full width – Layout
layout: layout-example.njk
ignore_in_sitemap: true
stylesheets:
- ../grid-annotate.css
status: "In progress"
statusMessage: "This page has not been CH approved."
---

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
     <p>govuk-grid-column-full</p>
  </div>
</div>
