---
title: Bulleted lists – Typography
layout: layout-example.njk
ignore_in_sitemap: true
status: "In progress"
statusMessage: "This page has not been CH approved."
---

<ul class="govuk-list govuk-list--bullet">
  <li>apples</li>
  <li>oranges</li>
  <li>pears</li>
</ul>
