<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="robots" content="noindex, nofollow">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Checkbox items with error – Example – GOV.UK Design System</title>
    <link href="/stylesheets/main-5002e4b83873c0f3506b3d0e8d470f20.css" rel="stylesheet" media="all" />
    

    <!--[if lt IE 9]>
      <script src="/javascripts/head-ie8-3bdeff766c8e82bdaeaf6f5accfc18e3.js"></script>
    <![endif]-->
    <script src="/javascripts/vendor/modernizr.js"></script>
  </head>
  <body class="app-example-page">
    <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>
    <!-- Disable browser validation for any examples that include form elements -->
    <form novalidate>
      
        


<div class="govuk-form-group govuk-form-group--error">
<fieldset class="govuk-fieldset" aria-describedby="nationality-hint nationality-error">
  <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">    <h1 class="govuk-fieldset__heading">
      What is your nationality?
    </h1>
</legend>
  <span id="nationality-hint" class="govuk-hint">
    If you have dual nationality, select all options that are relevant to you.
  </span>
  <span id="nationality-error" class="govuk-error-message">
    Select if you are British, Irish or a citizen of a different country
  </span>
  <div class="govuk-checkboxes">
    <div class="govuk-checkboxes__item">
      <input class="govuk-checkboxes__input" id="nationality-1" name="nationality" type="checkbox" value="british" aria-describedby="nationality-1-item-hint">
      <label class="govuk-label govuk-checkboxes__label" for="nationality-1">
        British
      </label>      <span id="nationality-1-item-hint" class="govuk-hint govuk-checkboxes__hint">
        including English, Scottish, Welsh and Northern Irish
      </span>    </div>
    <div class="govuk-checkboxes__item">
      <input class="govuk-checkboxes__input" id="nationality-2" name="nationality" type="checkbox" value="irish">
      <label class="govuk-label govuk-checkboxes__label" for="nationality-2">
        Irish
      </label>    </div>
    <div class="govuk-checkboxes__item">
      <input class="govuk-checkboxes__input" id="nationality-3" name="nationality" type="checkbox" value="other">
      <label class="govuk-label govuk-checkboxes__label" for="nationality-3">
        Citizen of another country
      </label>    </div>
  </div>
</fieldset>
</div>


      
    </form>
    <script src="/javascripts/vendor/iframeResizer.contentWindow.js"></script>
    <script src="/javascripts/govuk-frontend-bc538456331900cfc25b1fa92de36f7d.js"></script>
  </body>
</html>
