---
title: Names
layout: layout-example.njk
status: "In progress"
statusMessage: "This page has not been CH approved."
---

{% from "input/macro.njk" import govukInput %}

{{ govukInput({
  label: {
    text: "Full name"
  },
  id: "full-name",
  name: "full-name"
}) }}
