---
title: Text input with errors
layout: layout-example.njk
ignore_in_sitemap: true
status: "In progress"
statusMessage: "This page has not been CH approved."
---

{% from "input/macro.njk" import govukInput %}

{{ govukInput({
  label: {
    text: "First name"
  },
  id: "first-name",
  name: "first-name",
  errorMessage: {
    text: "Enter your first name"
  }
}) }}
